%h1 Homepage

%a{ href: '/subpage' } Link to another page

%hr

#some-content
  %p This div has some content.

%hr

%a#js-link-1{ href: "#" } Click me

%hr

#js-form
  Type in your name:
  %input#name{ type: 'text' }
  %button#submit Submit

  #name-tag
